.navigation {
    width: 100%;
    min-height: 5vh;
    background-color: black;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px 10px 0 10px
}

.navigation a:hover {
    opacity: 0.7;
}


.subList {
    margin: 5px 0 5px 30px;
    padding: 5px;
}

.item-container {
    width: 90%;
    height: auto;
    border: 2px solid #434c4d;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.item-container:hover {
    border: 2px solid #434c4d7c;
}

.btn-delete:hover {
    color:red
}

.btn-delete {
    float: right
}

.addbar input{
    width: 90%;
    margin: 5px;
    padding: 5px;
}