/***********  
============
TODOLIST CSS
============
************/
.subList {
    margin: 5px 0 5px 30px;
    padding: 5px;
}

.item-container {
    position: relative;
    width: 90%;
    height: auto;
    border: 1px solid rgba(28, 32, 32);
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
}

.item-container:hover {
    border: 1px solid rgba(28, 32, 32, 0.842);
}

.btn-delete:hover {
    color:red
}

.btn-delete {
    position: absolute;
    right: 15px;
    top: 10px;
}

.btn-plus{
    position: absolute;
    right: 45px;
    top: 10px;
}

.btn-plus:hover {
    color: green
}

.btn-pen{
    position: absolute;
    right: 75px;
    top: 10px;
}

.btn-pen:hover {
    color: orange
}

.addbar input{
    width: 90%;
    margin: 5px;
    padding: 5px;
}